:root{
    --body-bg: #303b42;
    --dark-bg: #232b31;
    --white-color: #ffffff;
}
body{
    background: var(--body-bg);
    color: var(--white-color);
}
.custom-select {
    background-color: var(--body-bg);
    color: white;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
    min-width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
.custom-select option {
    background-color: var(--dark-bg);
    color: white;
}